<h1>Willkommen bei Sounds!Spotify</h1>
<p class="lead">Befülle deine Spotify Playlist mit Radio SRF 3 Sounds! Songs</p>
<%= link_to 'Spotify aktivieren', '/auth/spotify', class: "btn btn-lg btn-primary" %>