<h1>Willkommen bei Radio SRF 3 @Spotify</h1>
<p class="lead">Befülle deine Spotify Playlist mit Radio SRF 3 Songs</p>
<%= link_to 'Spotify aktivieren', '/auth/spotify', class: "btn btn-lg btn-primary", rel: 'nofollow' %>