<h1>Scan Radio SRF 3</h1>
<% if @artist %>
  <p>Gerade auf dem Äther: <%= @artist %> &mdash; <%= @title %> (auf Spotify<%= @found_sth ? ' ' : ' nicht ' %>gefunden)</p>
<% else %>
  <p>Es wird gerade nichts gespielt...</p>
<% end %>