<h1>Jetzt auf Radio SRF 3</h1>
<br>
<% if @artist %>
  <p class="lead"><%= @artist %> &mdash; <%= @title %></p>
  <p>(auf Spotify<%= @found_sth ? ' ' : ' nicht ' %>gefunden)</p>
<% else %>
  <p>Es wird gerade nichts gespielt...</p>
<% end %>