@import "bootstrap-sprockets";
@import "bootstrap";

a:focus {
  color: #2a6496;
}

.nav > li {
  display: inline-block;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
}